<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="bootsrtap.min.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center m-3">Course</h1>
                <hr>
                <p>{{course}}</p>
                <p>{{author}}</p>
                <p>{{description}}</p>
                <p class="text-danger">{{videos}}</p>
                <hr>
                <p>Course : <input v-model="course"> </p>
                <p>Author : <input v-model="author"> </p>
                <p>Descrp : <input v-model="description"></p>
                <p style="display: inline;">Videos : 
                    <button class="btn btn-success mr-2" @click="videos++">+</button>
                    <p style="display: inline;">{{videos}}</p>
                    <button class="btn btn-danger ml-2" @click="videos--">-</button>
                    <button class="btn btn-warning ml-2" @click="videos=''">Clear</button>
                </p>
            </div>
        </div>
    </div>
    



    <script src="vue3.2.28.js"></script>
    <script>
        const app = Vue.createApp ({
            data(){
                return{
                   course:"javascript",
                   author:"Mojtabaei",
                   description:"javascript is cool",
                   videos:10
                }
            }
        })

        app.mount("#app")
    </script>
</body>
</html>