<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="bootsrtap.min.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center m-3">Course</h1>
                <hr>
                <p>{{course}} &nbsp <strong class="text-danger">{{isPopular}}</strong></p>
                <p>{{author}}</p>
                <p>{{description}}</p>
                <p class="text-danger">{{likes}}</p>
                <hr>
                <p>Course : <input v-model="course"> </p>
                <p>Author : <input v-model="author"> </p>
                <p>Descrp : <input v-model="description"></p>
                <p style="display: inline;">likes : 
                    <button class="btn btn-success mr-2" @click="likes++">+</button>
                    <p style="display: inline;">{{likes}}</p>
                    <button class="btn btn-danger ml-2" @click="likes--">-</button>
                    <button class="btn btn-warning ml-2" @click="clearAll('All Cleared')">Clear</button>
                </p>
            </div>
        </div>
    </div>
    



    <script src="vue3.2.28.js"></script>
    <script>
        const app = Vue.createApp ({
            data(){
                return{
                   course:"javascript",
                   author:"Mojtabaei",
                   description:"javascript is cool",
                   likes:10
                }
            },
            methods : {
                clearAll(msg){
                    this.course = '';
                    this.author = '';
                    this.description = '';
                    this.likes = '';
                    console.log(msg);
                }
            }, 
            computed :{
                    isPopular(){
                        if(this.likes >= 11){
                    return ("Popular")
                }
            }
        },
        watch :{
            likes (value){
                if(value == 12){
                    alert('Congrats... You reached 12 Likes')
                }
            }
        }
            
    })

    app.mount("#app")
    </script>
</body>
</html>